mat-card {
    width: 75%;
    margin: -2rem auto;
    background-color: rgb(235, 235, 235);
 }

img {
    height: 12rem;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

p {
    text-align: center;
}

.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 10px;
}